<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for (let iCount = 0; iCount < aDisplay.length; iCount++) { %>
        <tr>
          <td><%= aDrink[iCount].id %></td>
          <td><%= aDrink[iCount].username %></td>
        </tr>
        <% } %>
</body>
</html>